.section {
  margin-top: 50px;
/*  background-color: blue;*/
}

form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
/*  background-color: #f1f1f1;*/
  background-color: #93DEDC;
}

form h3 {
  margin-top: 0;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

input[type="number"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

label {
  font-weight: bold;
}

#convertedValue {
  font-weight: bold;
  font-size: 1.2em;
  color: #007bff;
}

body {
/*  background: linear-gradient(to bottom right, #FF355E, #9B30FF);*/
  background-color: #EE9EA4;
            
}
